<div class="jumbotron container fluid my-3 info">
    <h1 class="display-4">Sobre esta aplicación echa en Angular</h1>
    <p class="lead">
        Este ejercicio quiero demostrar que, con Angular puede ser un sistema muy potente para hacer proyectos WEB3.
    </p>
    <hr class="my-4">
    <p>
        Si quieres descubrir mas proyectos puedes visitar mi GitHub.
    </p>
    <a class="btn btn-primary btn-lg" href="https://github.com/genesislloretramos" role="button" target="_blank">¿Mas proyectos?</a>
</div>